html {
    height: 100%;
}

body {
    background-image: url(./images/ring-boxe-3d.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Lato", sans-serif;
}

.circle_1,
.circle_2 {
    width: 25vw;
    height: 20vw;
    border-radius: 50%;
}

.custom-button {
    --bs-btn-padding-y: 2vw;
    --bs-btn-padding-x: 5vw;
}

.new_game {
    position: fixed;
    left: 35%;
    top: 10%;
}

.roll_dice {
    position: fixed;
    bottom: 30%;
    left: 48%;
}

.hold {
    position: fixed;
    bottom: 10%;
    left: 55%;
}

.total_nb,
.total,
.current,
.current_nb,
.player_1,
.total_nb2,
.total2,
.current2,
.current_nb2,
.player_2 {
    white-space: nowrap;
}

#dice-img {
    width: 100px;
    height: 100px;
}

.player_1_button,
.player_2_button,
button {
    color: azure;
}

.player_1_button {
    background-color: red;
}

.player_2_button {
    background-color: blue;
}

button {
    background-color: #341648;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    box-shadow: inset 25px 25px 25px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

@media (max-width: 1200px) {
    body {
        height: 100%;
    }

    .circle_1,
    .circle_2 {
        width: 45vw;
        height: 40vw;
    }

    .new_game {
        left: 65%;
    }

    .roll_dice {
        left: 15%;
    }

    .hold {
        left: 15%;
    }
}

@media (max-width: 576px) {

    .circle_1,
    .circle_2 {
        width: 60vw;
        height: 55vw;
    }

    .new_game {
        top: auto;
        left: auto;
        bottom: 1%;
    }

    .roll_dice {
        left: 65%;
        bottom: 52%;
    }

    .hold {
        bottom: auto;
        left: 5%;
    }
}